# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env

# Secrets ONLY
secrets/*.json

# Runtime output
output/
*.wav
*.mp3
*.mid

# Build/cache
build/
dist/
.cache/

# Docker
docker-compose*.yml
