services:
  backend:
    container_name: xenotune-backend
    image: xenotune-backend:prod
    build:
      context: ./backend
      dockerfile: Dockerfile


    ports:
      - "8000:8000"

    volumes:
      - /home/abhi/soundfonts:/soundfonts:ro

    secrets:
      - firebase_key

    environment:
      CONFIG_PATH: /app/data/config.json
      FIREBASE_KEY_PATH: /run/secrets/firebase_key
      FIREBASE_BUCKET: xenotune-fromx.firebasestorage.app

    restart: always

secrets:
  firebase_key:
    file: ./backend/secrets/serviceAccountKey.json
